@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lobster', sans-serif;
    line-height: 1.6;
    background-color: #4f9843;
    
}

/* HEADER SECTION */

header{
    display: flex;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 4px solid #3b7a32;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2); 
}

header img{
    width: 150px;
}

.navBar{
    display: flex;
    justify-content: end;
    list-style: none;
    font-weight: 200;
    font-size: 18px;
}

.navBar li a{
    margin: 0 15px;
    text-decoration: none;
    color: #e5e7eb;
}

/* HERO SECTION */


#heroSection{
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 4px solid #3b7a32;
    box-shadow: 0px 4px 6px -2px rgba(255, 255, 255, 0.2);
}

#heroSection div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heroSection img{
    width: 50%;
}

#heroSection p{
    margin-bottom: 20px;
}

button{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: white;
    font-weight: 900;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3b7a32;
    transition: 0.5s ease;
    transform-origin: center;
}

button:hover{
    color: #4f9843;
    background-color: #e5e7eb;
    transform: scale(1.1);
}